 	.name{
		text-align:center;
		padding-top:15%;
	}
	.name>.bts{
		font-size:5em;
	}
	.catergory{
		 text-align:center;

	}
	.catergory button{
		 font-size:2em;
		 width:30%;
		 margin:20px;
	}
	
@media (min-width: 768px) {
    #index{
    	margin-left:-35%;
    } 
}
@media (max-width: 768px) {
}
    