	.main1{
		width:100%;
		height:100%;
		position:relative;
		background-color:#58ACFA;
	}
	.container .jumbotron, .container-fluid{
	    padding-left: 5px;
	    padding-top:0px;
	    padding-right:0px;
	    padding-bottom:0px;
	}
	/*  */
	#userInfo{
		position: absolute;
		top:405px;
		right:5%;
		width: 200px;
		height: 150px;
		background-color: rgba(178, 199, 217, 1);
	}
	#roomBtn{
		position: absolute;
		top:560px;
		right:5%;
		width: 200px;
		height: 40px;
		background-color: rgba(178, 199, 217, 1);
	}
	#modifyRoom{
		display:none;
		left:220px;
		position: absolute;
		top:20px;
		right:5%;
		width: 300px;
		height: 500px;
		background-color: #58ACFA;
	}
	#roomInfo{
		display:none;
		left:220px;
		position: absolute;
		top:20px;
		right:5%;
		width: 350px;
		height: 447px;
		background-color: #58ACFA;
	}
	/*  */
	.chatLog {
		position: absolute;
		background-color: rgba(178, 199, 217, 1);
		width: 430px;
		height: 550px;
		padding-bottom: 30px;
		overflow: scroll;
	}
	
	#chatInfo {
		position: absolute;
		right:10%;
		width: 200px;
		height: 400px;
		background-color: rgba(178, 199, 217, 1);
	}
	/* 거래메세지 */
	.chatDealStart{
		position: absolute;
		bottom:10%;
		width: 630px;
		height: 135px;
		background-color: rgba(178, 199, 217, 1);
	}
	.chatDealStart a {
		color:blue;
	}
	
	/* 채팅 기능  */
	.chatfunction {
		position: absolute;
		right:10%;
		bottom:27%;
		width: 200px;
		height: 186px;
		background-color: rgba(178, 199, 217, 1);
	}
	
	#chatSub {
		position: absolute;
		bottom:27%;
	}
	
	.chatLog > p {
		display: inline-block;
		padding: 8px;
		margin: 6px;
		background-color: rgba(255,255,255,1);
		border-radius: 8px;
		float: left;
		clear: both;
		font-size: 13px;
	}

	
	.chatLog > p.myMessage {
		background-color: rgba(255,235,51,1);
		float: right;
		clear: both;
	}
	
	.chatBox {
		width:100%;
		height:100%;
		position:absolute;
		background-color: rgba(255,255,255,0.8);
	}
	
	.name {
		border: none;
		height: 30px;
		width: 50px;
		background: #ddd;
	}
	
	.message {
		border: none;
		height: 30px;
		width: 263px;
	}
	
	.chat-button {
		border: none;
		height: 30px;
		width: 50px;
		background: #ddd;
	}

