 	.name{
		text-align:left;
		margin-left:250px;
		margin-top:20px;
		margin-bottom: 20px;
	}
	.name>.bts{
		font-size:3em;
	}
	.login{
		margin-top:1%;
		text-align:left;
		margin-left:300px;
	}
	.btn-setting button{
		font-size:30px;
		margin-bottom:15px;
		width:314px;
	}
	td {
		width:20em;
	}
	.btn-setting input[type="submit"]{
		font-size:25px;
		margin-bottom:5px;
		width:314px;
	}
	.btn-setting button{
		font-size:25px;
		margin-bottom:5px;
		width:314px;
	}
@media (min-width: 768px) {
   #index{
   	margin-left:-35%;
   }
}
	@media (max-width: 768px) {
		.name{
			margin-top:-40px;
		}
	.login{
		padding-top:10%;
		margin-top:-10%;
	}
}
@media (min-width:768px){
	.container .jumbotron, .container-fluid{

	    padding-left: 5px;
	    padding-top:0px;
	    padding-right:0px;
	    padding-bottom:0px;
	}
	.table{
		font-size:25px;
	}
}
#footer { 
	position: fixed; bottom: 0; width: 100%; 
	}

