.container{
	margin-top:30px;
	font-family: 'Single Day', cursive;
	min-width: 768px;
	height:830px;
	padding-right:0;
	padding-left:0;
}
@media {
.jumbotron{
	min-width: 768px;
	height:800px;
	background-color:#FF8000;
	padding:0;
}
	#nav{
		position:absolute;
		width:20%;
		height:800px;
		min-width:195px;
		max-width:290px;
	}
	#section{
		position:relative;
		left:25%;
		width:75%;
		height:100%;
	}
}			
/* @media (max-width: 768px) {
	.jumbotron{
		height:800px;
		background-color:#FF8000;
		padding: 0px 0px;
	}
	#nav{
		min-width: 188px;
		height:6%;
	}
	#section{ 
		height:79%;
	}
	#footer{
		height:15%
	}
} */
